/* GLOBAL CSS CODE START  */
* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 4px dotted teal;
  outline-offset: 2px;
}

html {
  height: 100vh;
  background: url("https://source.unsplash.com/1980x900/?cloud") 0 0 / cover
    no-repeat;
  background-repeat: no-repeat;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTAINER CSS CODE  START */
.table-content {
  -webkit-box-shadow: 0px 5px 29px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 29px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 29px 2px rgba(34, 60, 80, 0.2);
  margin-top: 30px;
  border-radius: 5px;
  width: 900px;
  height: 400px;
  overflow: scroll;
  font-size: 25px;
  background-color: #fff;
}

/* TABLE CSS CODE START  */
table {
  border-spacing: 0px;
  text-align: center;
}

th {
  background-color: teal;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 15px 15px;
  border: 1px solid #066868;
}

td {
  border: 1px solid #066868;
}

/* tr :first-child {
  background-color: teal;
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
} */
/* 
tr :last-child {
  background-color: teal;
  color: #fff;
  position: sticky;
  top: 0;
  right: 0;
  z-index: -2;
} */

.btn {
  background: #056d6d;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
}

.inp-wrapper {
  text-align: center;
}

.inp {
  padding: 5px;
  margin-right: 15px;
  border-radius: 5px;
  font-size: 19px;
  letter-spacing: normal;
  background-color: #b4ebeb;
  color: #1a8686;
}

.disTd {
  width: 100px;
}

.disInp {
  width: inherit;
  padding: 10px 10px;
  background-color: transparent;
  color: #000;
  font-size: 18px;
  letter-spacing: normal;
  text-align: center;
}

.delBtn {
  background-color: #b40e0e;
}

.saveBtn {
  background-color: #02ab02;
}

.cancelBtn {
  background-color: #f72c08;
}
